<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <script src="https://kit.fontawesome.com/30a5d231e3.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">

        <div class="app">

            <!-- SIDEBAR -->

            <div class="sidebar">

                <!-- SIDEBAR - NAV -->

                <nav class="sidebar-nav">
                    <img class="user-profile-img" src="./img/avatar_io.jpg" alt="user profile pic">
                    <ul class="sidebar-nav-tools">
                        <li class="nav-status">
                            <i class="icon fa-solid fa-circle-notch"></i>
                        </li>
                        <li class="nav-new-chat">
                            <i class="icon fa-solid fa-message"></i>
                        </li>
                        <li class="nav menu">
                            <i class="icon fa-solid fa-ellipsis-vertical"></i>
                        </li>  
                    </ul>
                </nav>

                <!-- SIDEBAR - POP UP  -->

                <div class="sidebar-pop-up">
                    <div class="pop-up-icon">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="pop-up-text">
                        <p class="pop-up-title">Ricevi notifiche di nuovi messaggi</p>
                        <p class="pop-up-subtitle">Attiva notifiche desktop</p>
                    </div>
                </div>

                <!-- SIDEBAR SEARCH BAR -->

                <div class="sidebar-search">
                    <input v-model="searchChat" class="input-search" type="search" placeholder="Cerca o inizia una nuova chat">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-arrow-left"></i>
                </div>

                <!-- SIDEBAR - CONVERSATIONS -->

                <div class="sidebar-conversations">
                    <ul class="chat-list">
                        <li v-for="(contact, i) in filteredChat" class="chat-card" :class="i === currentContactIndex ? 'active' : ''" @click="displayChat(i)">
                            <div class="contact-info">
                                <img class="pro-pic" :src="contact.avatar" alt="">
                                <div class="chat-info">
                                    <p class="contact-name">{{contact.name}}</p>
                                    <p class="last-message">{{ contact.messages[contact.messages.length - 1].message }}</p>
                                </div>
                            </div>
                            <div class="last-message-time">{{contact.messages[contact.messages.length - 1].date.slice(11,16)}}</div>
                            <div class="sidebar-chat-menu">
                                <i class="fa-solid fa-chevron-down"></i>
                                <ul class="chat-dropdown-menu">
                                    <li>Archivia chat</li>
                                    <li>Silenzia notifiche</li>
                                    <li>Elimina chat</li>
                                    <li>Fissa chat</li>
                                    <li>Segna come da leggere</li>
                                    <li>Blocca</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

            <!-- CHAT -->

            <div class="chat">

                <!-- CHAT NAV -->

                <div class="chat-nav">
                    <div class="contact-info">
                        <img class="pro-pic" :src="currentContact.avatar" alt="">
                        <div class="head-chat-info">
                            <p class="contact-name">{{currentContact.name}}</p>
                            <p class="last-access">Ultimo accesso oggi alle 16:26</p>
                        </div>
                    </div>
                    <ul class="chat-nav-tools">
                        <li class="nav-search-message">
                            <i class="icon fa-solid fa-magnifying-glass"></i>
                        </li>
                        <li class="nav-attach-file">
                            <i class="icon fa-solid fa-paperclip"></i>
                        </li>
                        <li class="nav menu">
                            <i class="icon fa-solid fa-ellipsis-vertical"></i>
                        </li>  
                    </ul>
                </div>

                <!-- CHAT MAIN -->

                <ul class="chat-main">
                    <li v-for="(message, i) in currentChat" :class="message.status === 'sent' ? 'mine' : 'others'" class="message">
                        <div class="message-top">
                            <div class="text">
                                {{message.message}}
                            </div>
                            <div class="message-menu">
                                <i class="fa-solid fa-chevron-down"></i>
                                <ul class="message-dropdown-menu">
                                    <li>Rispondi</li>
                                    <li>Reagisci</li>
                                    <li>inoltra</li>
                                    <li>Importante</li>
                                </ul>
                            </div>
                        </div>
                        <div class="message-time">
                            {{message.date.slice(11,16)}}
                        </div>
                        <div class="emoji-react">
                            <i class="fa-solid fa-face-laugh"></i>
                        </div>
                    </li>
                </ul>
                
                <!-- CHAT WRITE  -->
                
                <div class="chat-write">
                    <div class="emoji-icon">
                        <i class="icon fa-regular fa-face-smile"></i>
                    </div>
                    <input v-model="messageInput" type="text" class="write-message" placeholder="Scrivi un messagio" @keyup.enter="sendMessage">
                    <div class="audio-icon">
                        <i class="icon fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="./js/app.js"></script>
</body>
</html>